n8n-workflows/02-geracao-batch.json
{
  "name": "02 - Geracao Batch de Carrosseis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 0,
              "triggerAtDay": 1
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Segunda 06h BRT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tenants?ativo=eq.true&select=id,nome,nicho",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        }
      },
      "id": "get-tenants",
      "name": "GET Tenants Ativos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-tenants",
      "name": "Loop Tenants",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ideias?tenant_id=eq.{{ $json.id }}&usado=eq.false&order=prioridade.desc&limit=5&select=id,tema",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        }
      },
      "id": "get-ideias",
      "name": "GET Ideias Pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ideias = $input.first().json;\nconst tenant_id = $('Loop Tenants').first().json.id;\n\nif (!Array.isArray(ideias) || ideias.length === 0) {\n  return [{ json: { skip: true, tenant_id } }];\n}\n\nconst temas = ideias.map(i => i.tema);\nconst ideia_ids = ideias.map(i => i.id);\n\nreturn [{\n  json: {\n    skip: false,\n    tenant_id,\n    temas,\n    ideia_ids,\n    count: temas.length\n  }\n}];"
      },
      "id": "preparar-batch",
      "name": "Preparar Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-ideias",
      "name": "Tem Ideias?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EXPRESS_PIPELINE_URL }}/pipeline/batch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $json.tenant_id }}\",\n  \"temas\": {{ JSON.stringify($json.temas) }}\n}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "pipeline-batch",
      "name": "POST Pipeline Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ideias?id=in.({{ $('Preparar Batch').first().json.ideia_ids.join(',') }})",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"usado\": true\n}",
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "marcar-usadas",
      "name": "Marcar Ideias Usadas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const allBatches = $('POST Pipeline Batch').all();\nconst tenants = $('GET Tenants Ativos').first().json;\nconst totalCarrosseis = allBatches.reduce((acc, b) => {\n  const count = b.json?.carrosseis?.length || b.json?.count || 1;\n  return acc + count;\n}, 0);\nconst totalTenants = Array.isArray(tenants) ? tenants.length : 1;\n\nreturn [{\n  json: {\n    message: `🚀 ${totalCarrosseis} carrosseis gerados para ${totalTenants} tenants`,\n    totalCarrosseis,\n    totalTenants\n  }\n}];"
      },
      "id": "contar-resultados",
      "name": "Contar Resultados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 500]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_ADMIN_CHAT_ID }}\",\n  \"text\": \"{{ $json.message }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "telegram-notify",
      "name": "Telegram Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 500],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Segunda 06h BRT": {
      "main": [
        [
          {
            "node": "GET Tenants Ativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Tenants Ativos": {
      "main": [
        [
          {
            "node": "Loop Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Tenants": {
      "main": [
        [
          {
            "node": "Contar Resultados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET Ideias Pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Ideias Pendentes": {
      "main": [
        [
          {
            "node": "Preparar Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Batch": {
      "main": [
        [
          {
            "node": "Tem Ideias?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Ideias?": {
      "main": [
        [
          {
            "node": "POST Pipeline Batch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Pipeline Batch": {
      "main": [
        [
          {
            "node": "Marcar Ideias Usadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Ideias Usadas": {
      "main": [
        [
          {
            "node": "Loop Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contar Resultados": {
      "main": [
        [
          {
            "node": "Telegram Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "agencia-platform"
    },
    {
      "name": "geracao"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-14T00:00:00.000Z",
  "versionId": "1"
}
